/* font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');

/* reset */

body, section, header, strong, div, h1, p{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* design */

body{
    background-color: #222;
}

header{
    background-image: url(./images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
    position: relative;
}

h1{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 10px;
}

.headerStrong{
    font-size: 12px;
    display: block;
    position: relative;
    letter-spacing: 6px;
    text-indent: 6px;
    padding: 0 4px;
}

.headerStrong::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #2C5793;
}

.headerStrong::after{
    content: "PHOTOSHOP";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 4px;
    letter-spacing: 6px;
}

.container{
    padding: 40px 0;
    margin: 0 auto;
    max-width: 1200px;
    overflow-y: hidden;
}

.timeline{
    width: 50%;
    box-sizing: border-box;
    position: relative;
    padding: 0 40px;
    margin-bottom: -20px;
}

.timeline:nth-child(2n+1){
    margin-right: 50%;
    text-align: right;
}

.timeline:nth-child(2n){
    margin-left: 50%;
    text-align: left;
}

.timeline img{
    position: absolute;
    width: 80px;
    height: 80px;
    margin: -40px 60px;
}

.timeline:nth-child(2n+1) img{
    left: 0;
}

.timeline:nth-child(2n) img{
    right: 0;
}

.timeline::before{
    content: "";
    background-color:  #1C90FF;
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 -5px;
    transform: translateY(50%);
}

.timeline:nth-child(2n+1)::before{
    right: 0;
}

.timeline:nth-child(2n)::before{
    left: 0;
}

.timeline::after{
    box-sizing: border-box;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 10px solid #1C90FF;
    background-color: #222;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto -15px;
}

.timeline:nth-child(2n+1)::after{
    right: 0;
}

.timeline:nth-child(2n)::after{
    left: 0;
}

.photoshop::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #111;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    margin: auto 10px;
    z-index: -10;
}

.photoshop{
    background-color: #111;
    padding: 20px 20px 0;
    border-radius: 16px;
}

.photoshop::before{
    content: "";
    background-color: #111;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 20px;
    transform: rotate(45deg);
}

.photoshop.left::before{
    right: 0;
}

.photoshop.right::before{
    left: 0;
}

.photoshop strong{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    color: #1C90FF;
    font-size: 40px;
    font-weight: bolder;
}

.photoshop p{
    color: white;
    font-size: 12px;
}

.photoshop ul{
    background-color: black;
    color: #4A4A4A;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}