/* font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');

/* reset */

body, section, header, strong, div, h1, p{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* design */

body{
    background-color: #222;
}

header{
    background-image: url(./images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
    position: relative;
}

h1{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 10px;
}

.headerStrong{
    font-size: 12px;
    display: block;
    position: relative;
    letter-spacing: 6px;
    text-indent: 6px;
    padding: 0 4px;
}

.headerStrong::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #2C5793;
}

.headerStrong::after{
    content: "PHOTOSHOP";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 4px;
    letter-spacing: 6px;
}

.timeline{
    width: 700px;
    margin: 0 auto;
    padding: 60px 20px;
    position: relative;
}

.timeline::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1C90FF;
    width: 4px;
    margin: 136px 0 236px;
}

.photoshop{
    background-color: #111;
    padding: 20px 20px 0;
    border-radius: 16px;
    position: relative;
}

.photoshop::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.photoshop::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 4px solid #1C90FF;
    background-color: #222;
}

.photoshop strong{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    color: #1C90FF;
    font-size: 40px;
    font-weight: bolder;
}

.photoshop p{
    color: white;
    font-size: 12px;
}

.photoshop ul{
    background-color: black;
    color: #4A4A4A;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.photoshop:nth-child(2n+1){
    margin-right: 54%;
    text-align: right;
}

.photoshop:nth-child(2n+1) img{
    position: absolute;
    top: -40px;
    left: 20px;
    width: 80px;
    height: 80px;
}

.photoshop:nth-child(2n+1)::before{
    left: 100%;
    border-left: 16px solid #111;
}

.photoshop:nth-child(2n+1)::after{
    left: calc(100% + 20px);
}

.photoshop:nth-child(2n){
    margin-left: 54%;
    text-align: left;
}

.photoshop:nth-child(2n) img{
    position: absolute;
    top: -40px;
    right: 20px;
    width: 80px;
    height: 80px;
}

.photoshop:nth-child(2n)::before{
    right: 100%;
    border-right: 16px solid #111;
}

.photoshop:nth-child(2n)::after{
    right: calc(100% + 20px);
}